.label-sectIcon{
  color: #1973B8;
}
.box-bannerApp{
  background:#1464A5;
  padding:10px;
}
.box-infoApp{
  padding:10px;
}
.boxIn-infoApp{
  background-color: #043263;
  padding: 32px 50px;
  height: auto;
  min-height: 344px;
}
.boxIn-infoApp .boxContent-infoApp{
  box-sizing: border-box;
}
.boxIn-infoApp .boxContent-infoApp .boxTitle{
  text-align:left;
  /*margin-bottom:32px;*/
}
.box-infoApp2{
  background:green;
  padding:10px;
}
.green-square{
  width: 48px;
  background-color: #2dcccd;
  height: 48px;
  position: absolute;
}
.title-infoApp{
  color:white;
  width:;
}
.head-infoApp{
  text-align:left;
  font-size: 42px;
  line-height: 48px;
}
.image-sos{
  float:left;
  margin:20px;
  width:80px;
}
.titulo-sos{
  float:left;
  vertical-align:bottom;
  font-size:3rem;
  padding:20px;
}
.titulo-bannerApp{
  font-family: 'BentonSansBBVALight';
  font-size: 32px;
  line-height: 34px;
}
.contiene-titulo{
  width:80%;
  float:left;
}
.box-icon{
  float:left;
}
.iconBox-infoApp{
  margin: 8px 25px 0 0;
  width:80px;
  height:80px;
  display: inline-block;
}
.textBox-infoApp{
  float: left;
  font-size: 4rem;
  /*padding-right:50px;*/
  max-width: calc(100% - 120px);
  /*color:white;*/
}
.resumen-infoApp{
  color: #fff;
  white-space: pre-line;
  font-size: 15px;
  line-height: 24px;
  margin-bottom:16px;
  padding-top:90px;
}
.linkIcon-infoApp{
  float: left;
  width: auto;
}
.link-interno{
  padding: 0;
  margin: 0 40px 0 0;
}
.icon-infoApp{
  color: #5bbeff !important;
  text-decoration: none;
  font-size:1.4rem;
}
.cardIntro{
  position: absolute;
  top: 80%;
  left: 10%;
  color: white;
}
.link-cardIntro{
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
/* CARD MIDDLE*/
.card-content{
  margin-bottom: 20px;
  background:white;
  height:360px;
}
.card-izquierda.imagen{
  width:50%;
  height:360px;
  float:left;
  background-size: cover;
}
.card-derecha.imagen-d{
  width:50%;
  height:360px;
  float:right;
  background-size: cover;
}
.imagen-inter{
  height:360px;
}
.card-izquierda.titulo-cardHome{
  font-family: "BentonSansBBVA Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
  width: 45%;
  font-size: 3.6rem;
  font-weight: bold;
  position:absolute;
  color:white;
  bottom:40px;
  left:30px;
}
.card-derecha.titulo-cardHome-d{
  font-family: "BentonSansBBVA Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
  width: 45%;
  font-size: 3.6rem;
  font-weight: bold;
  position:absolute;
  color:white;
  bottom:40px;
  margin-left:16px;
}
.card-izquierda.contenido{
  padding:10px;
  width: 50%;
  height: 360px;
  float: left;
    /* position: absolute; */
  right: 32px;
  bottom: 0;
}
.card-derecha.contenido-d{
  padding:10px;
  width: 50%;
  height: 360px;
  float: left;
    /* position: absolute; */
  right: 32px;
  bottom: 0;
}
.cont-inter{
  font-size:18px;
  padding-top:15%;
  
}
.imagen-con{
  width:160px;
  float:left;
}
.card-izquierda.links{
  font-size:18px;
  text-align:right;
  font-weight:bold !important;
  bottom: 57px;
  right: 50px;
  position: absolute;
}
.card-derecha.links-d{
  font-size:18px;
  text-align:left;
  font-weight:bold !important;
  padding-right:26px;
  margin-left: 16px;
  position: absolute;
  bottom: 57px;
}
.image-bapp{
  width: 70%;
}
.icono-textoBapp{
  padding-top: 5%;
}
/* END CARD MIDDLE*/
.sube-h{
  z-index: 1;
  width: 100%;
  position: relative;
}
.sube-b{
  z-index: 1;
  width: 100%;
  position: relative;
}

/* -- Content Tablet -- */
@media (min-width: 700px) and (max-width: 900px){
  .green-square{
    width: 25px;
    height: 25px;  
  }
  .boxIn-infoApp{
    padding: 25px;
    min-height: 320px;
  }
  .iconBox-infoApp{
    width: 50px;
    height: 50px;
    margin: 0px 20px 0 0;
  }
  .textBox-infoApp{
    font-size: 1.9rem;
    padding-top: 5px;
  }
  .resumen-infoApp{
    padding-top: 50px;
  }
  .image-bapp{
    width: 100%;
    padding-top: 15px;
  }
  .card-content{
    height: 310px;
  }
  .card-izquierda.imagen{
    height: 310px;
    position: absolute;
    width: 48%;
  }
  .card-derecha.imagen-d{
    height: 310px;
  }
  .card-izquierda.titulo-cardHome{
    font-size: 2.8rem;
    bottom: 20px;
    width: 325px;
  }
  .card-derecha.titulo-cardHome-d{
    font-size: 2.8rem;
    bottom: 20px;
    width: 325px;
  }
  .card-izquierda.contenido{
    float: right;
    height: 310px;
  }
  .card-derecha.contenido{
    height: 310px;
  }
  .cont-inter{
    /*font-size: 18px; */ 
   padding-top: 1%;
  }
  .imagen-con{
    width: 110px;
    float: none;
  }
  .icono-textoBapp{
    padding-top: 1%;
    padding-left: 6%;
    padding-right: 6%: 
  }
  .card-izquierda.links{
    font-size: 18px;
    bottom: 25px;
    right: 40px;
  }
  .card-derecha.links-d{
    font-size: 18px;
    bottom: 25px;
    /*right: 40px;*/
  }
}
/* -- End Tablet -- */
/* -- Content Móvil -- */
@media (min-width: 320px) and (max-width: 699px){
  .green-square{
    width: 30px;
    height: 30px;
    top:7px;
  }
  .card-content{
    height: 420px;
  }
  .boxIn-infoApp{
    padding: 15px 30px;
    min-height: 355px;
  }
  .iconBox-infoApp{
    margin: 3px 24px 0 0;
    width: 60px;
    height: 60px;
  }
  .textBox-infoApp{
    font-size: 2rem;
  }
  .resumen-infoApp{
    padding-top: 58px;
  }
  .link-interno{
    margin: 0 19px 0 0;
  }
  .card-izquierda.imagen{
    width: 100%;
    height: 225px;
  }
  .card-derecha.imagen-d{
    width: 100%;
    height: 225px;
  }
  .card-izquierda.titulo-cardHome{
    width: 295px;
    font-size: 18px;
    color: black;
    bottom: 145px;
  }
  .card-derecha.titulo-cardHome-d{
    width: 295px;
    font-size: 18px;
    color: black;
    bottom: 145px;
  }
  .imagen-con{
    display: none;
  }
  .icono-textoBapp{
    padding-top: 1px;
    padding-left: 5px;
    font-size: 15px;
  }
  .card-izquierda.contenido{
    width: 100%;
    height: 1px;
  }
  .card-derecha.contenido-d{
    width: 100%;
    height: 1px;
  }
  .card-izquierda.links{
    font-size: 15px;
    bottom: 10px;
    right: 30px;
  }
  .card-derecha.links-d{
    font-size: 15px;
    bottom: 10px;
    right: 30px;
  }
}
/* -- End Móvil -- */

