/*
Error: Invalid CSS after "...dding-right: 6%": expected ";", was ": "
        on line 471 of scss/customHome.min.scss

466:     float: none;
467:   }
468:   .icono-textoBapp{
469:     padding-top: 1%;
470:     padding-left: 6%;
471:     padding-right: 6%: 
472:   }
473:   .card-izquierda.links{
474:     font-size: 18px;
475:     bottom: 25px;
476:     right: 40px;

Backtrace:
scss/customHome.min.scss:471
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1278:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1208:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1203:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:804:in `block in try_declaration'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1254:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1254:in `rethrow'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:809:in `try_declaration'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:732:in `declaration_or_ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:697:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:689:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:678:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:697:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:689:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:678:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:421:in `media_directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:234:in `special_directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:209:in `directive'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:696:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:689:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:137:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/engine.rb:414:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...dding-right: 6%\": expected \";\", was \": \"\A         on line 471 of scss/customHome.min.scss\A \A 466:     float: none;\A 467:   }\A 468:   .icono-textoBapp{\A 469:     padding-top: 1%;\A 470:     padding-left: 6%;\A 471:     padding-right: 6%: \A 472:   }\A 473:   .card-izquierda.links{\A 474:     font-size: 18px;\A 475:     bottom: 25px;\A 476:     right: 40px;"; }
