.tweetContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.tweetData {
    display: flex;
    flex-direction: row;
}


.tweetContainer .wrapperImg {
    width: 70px;
}
.tweetContainer .wrapperData {
    width: calc(100% - 70px);
    padding: 0 15px;
}

.scTwitterAvatar {
    border-radius: 100%;
    height: 70px;
    width: 70px;
}

.wrapperData .title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.title .screenName {
    margin-left: 5px;
    font-weight: 400;
    color: #657786;
}

.title .tweetDate {
    color: #657786;
    font-size: 13px;
}

.tweetBody {
    color: #121212;
}

.tweetInfo {
    color: #ccc;
    margin-left: calc(70px + 15px);
    font-size: 17px;
}

.tweetInfo i{
    font-size: 14px;
    margin-right: 5px;
}
.tweetInfo span {
    margin-right: 10px;
}
.tweetInfo i.glyphicon-heart:hover {
    color: #c4136c;
}
.tweetInfo i.glyphicon-retweet:hover {
    color: #9ce934;
}
.tweetInfo a:hover i {
    transition: color .5s;
}

.tweetInfo a {
    color: #ccc;
    border-bottom: none;
    text-decoration: none;
}